sphinx
sphinx-autobuild
# These are dependencies of various sphinx extensions for documentation.
ipython
matplotlib
numpydoc
sphinx-copybutton
sphinx-exec-code
sphinx_rtd_theme

insegel

nbsphinx
pandoc